/* CUSTOM */
* {
  font-family: 'Roboto', sans-serif;
}
.navbar-toggler{
  border: 1px solid #ddd;
}
.navbar-toggler-icon{
  color: #333
}
#navbarNav ul.navbar-nav li.nav-item.active a.nav-link{
  color:#2363b2 !important;
}
#navbarNav svg{
  height: 15px;
  margin: 0 0 -2px;
}
#navbarNav a svg .monitoreo_ico, #navbarNav a svg .mapas_ico, #navbarNav a svg .alertas_ico{
  fill:#b1b1b1;
}
#navbarNav .active a svg .monitoreo_ico, #navbarNav .active a svg .mapas_ico, #navbarNav .active a svg .alertas_ico{
  fill:#2363b2;
}


/*BOTONES*/
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/*FIN BOTONES*/

#main{
  margin:20px 0 0 0;
}
.box{
  padding: 10px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.side .box:first-child{
  margin-bottom:20px;
}
footer p{
	font-size: 10px;
	color: #a4a4a4;
	text-align: center;
	margin: 30px auto 10px;
	width: 80%;
}

header.contenidos h1{
  font-size: 28px;
  font-weight: 400;
  margin: 20px 0 0;
  color: #2363b2
}
article.contenidos{
  margin-top: 20px;
  margin-bottom: 50px;
}

article.terminos h3{
  font-size: 20px;
  color: #2363b2;
  margin: 0 0 30px
}
article.terminos ul{
  margin: 0;
  padding: 0;
}
article.terminos ul li{
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
article.terminos ul li strong{
  color: #2363b2
}
article.terminos ul li p{
  display: inline;
  margin: 0 5px 0 0;
  padding: 0;
  font-size: 13px;
}


/* MAPAS */
#Mapa_Neltume {
    height: 500px;
    width: 100%;
    padding: 3px;
    border: 5px solid #ddd;
    font-size: 90%;
}
#Mapa_Neltume .wrap_controls select{
	width: 140px;
	height: 25px;
	border: 1px solid #e1e1e1;
}
#Mapa_Neltume .wrap_controls select:focus{
	outline-style:none;
	border: 1px solid #e1e1e1;
}
#Mapa_Neltume h3 {
	font-size: 20px;
	font-weight: bold;
	color:#2363b2;
	margin-bottom:5px;
  padding-bottom:5px;
	border-bottom: 1px solid #ccc;
	background-color:#fff !important;
}
#Mapa_Neltume p {
    font-size: 14px;
    margin:0;
    padding:0
}
#Mapa_Neltume a{
    font-size: 13px;
}
/*.gm-style-mtc {display: none;}*/
.gm-svpc, .gm-style-cc /* .gmnoprin */ {display: none;}




/* MODAL */
.hidden {
  display: none
}




/* GRAFICOS */
.highcharts-credits{
  display:none;
}


/* TABLAS */
	table {
		width: 100%;
		border-collapse: collapse;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) {
		background: #eee;
	}
	th {
		background: #4995f5;
		color: #fff;
		font-weight: normal;
    font-size: 14px
	}
	td, th {
		padding: 6px;
		border: 1px solid #fff;
		text-align: left;
	}
  td span{
    font-size:12px;
    padding: 1px 5px 2px;
    background: #2363b2;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }



  /*
  	Max width before this PARTICULAR table gets nasty
  	This query will take effect for any screen smaller than 760px
  	and also iPads specifically.
  	*/
  	@media
  	only screen and (max-width: 760px),
  	(min-device-width: 768px) and (max-device-width: 1024px)  {

  		/* Force table to not be like tables anymore */
  		table, thead, tbody, th, td, tr {
  			display: block;
  		}

  		/* Hide table headers (but not display: none;, for accessibility) */
  		thead tr {
  			position: absolute;
  			top: -9999px;
  			left: -9999px;
  		}

  		tr { border: 1px solid #ccc; }

  		td {
  			/* Behave  like a "row" */
  			border: none;
  			border-bottom: 1px solid #eee;
  			position: relative;
  			padding-left: 50%;
  		}

  		td:before {
  			/* Now like a table header */
  			position: absolute;
  			/* Top/left values mimic padding */
  			top: 6px;
  			left: 6px;
  			width: 45%;
  			padding-right: 10px;
  			white-space: nowrap;
  		}

  		/*
  		Label the data
  		*/
  		td:nth-of-type(1):before { content: "Prioridad"; }
  		td:nth-of-type(2):before { content: "Alerta"; }
  		td:nth-of-type(3):before { content: "Estado"; }
  		td:nth-of-type(4):before { content: "Zonas"; }
  		td:nth-of-type(5):before { content: "Encargado"; }
  	}

  	/* Smartphones (portrait and landscape) ----------- */
  	@media only screen
  	and (min-device-width : 320px)
  	and (max-device-width : 480px) {
  		body {
  			padding: 0;
  			margin: 0;
  			width: 320px; }
  		}

  	/* iPads (portrait and landscape) ----------- */
  	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  		body {
  			width: 495px;
  		}
  	}
